#body-tag{
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Crete Round', serif;
}


#header-tag{
	float: left;
	width: 100%;
	height: 20%;
}


#img-tag{
	padding-left: -4px;
}


#about-img{
	padding-top: 0px;
	margin-left: 10px;
}


#nav-tag{
	font-style: italic;
}


nav li{
	display: inline;
	padding-left: 25px;
}


a{
	text-decoration: none;
}


header{
	background: #f2f5f9;
}


ul a:hover{
	size: 120%;
	color: black; 
	font-weight: bold;
}


 #footer-tag{
 	width: 100%;
 	font-size: 20px;
 	background-color: yellow;
 }


#course-tag {
	background-color: #27baf4;
 }


 #history-tag{
	background-color: #bd27f4;
 }


 #infra-tag{
	background-color: #f427ed;
 }


#about-tag{
	background-color: #27f4d5;
	text-align: justify;
}


#loca-img{
	margin-left: 0px;
}
